{
  "presets": ["env"],
  "plugins": [
    "transform-object-rest-spread",
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src"
        }
      }
    ],
    "transform-regenerator"   
  ],
  "ignore": [
    "src/bootstrap.js"
  ]
}
