{
  "presets": ["env"],
  "plugins": [
    "transform-object-rest-spread",
    [
      "resolver",
      {
        "root": "./",
        "resolveDirs": [ "src", "src/controllers", "src/controllers", "src/utils", "src/schemas"]
      }
    ]
  ]
}
